.header{
    text-align: center;
    background-color:palevioletred;
    color: brown;
}
.c2{
    text-align: center;
    top: ;
    color: brown;
}
.footer{
    text-align: center;
    background-color: aqua;
    position: fixed;
    bottom: 0;
    width: 100%;
}
